<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365305315501-n1le8mdiumn5mppo8pe6tr2lap9n6r6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365305315501-n1le8mdiumn5mppo8pe6tr2lap9n6r6n</string>
	<key>API_KEY</key>
	<string>AIzaSyAmS10h182NPdSLavX1wFPypT8GW0-q6CE</string>
	<key>GCM_SENDER_ID</key>
	<string>365305315501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DigiPlan</string>
	<key>PROJECT_ID</key>
	<string>plannerdigital-dc0f6</string>
	<key>STORAGE_BUCKET</key>
	<string>plannerdigital-dc0f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365305315501:ios:980b44d0ac82ee26208624</string>
</dict>
</plist>